body{
    background-color: rgb(243, 253, 253);
}
.container{
    display: flex;
    justify-content: center;
}
.btn{
    margin-top: 10px;
    padding: 5px;
}
.gap{
    margin-top: 40px;
}
.delete{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.all{
    color: white;
    background-color: rgb(71, 103, 120);
    border: none;
    padding: 5px;
}
h1, h2{
    letter-spacing: 3px;
    color: rgb(71, 103, 120);
}
.collage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 238, 240);
}
.sld {
    width: 140px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 5px;
    background-color: rgb(71, 103, 120);
    color: white;
    border-radius: 10px;
    border: none;
}
.future{
    border-radius: 20px;
}
p{
    width: 400px;
    text-align: center;
}
.more{
    background-color: rgb(243, 253, 253);
    border: none;
    color: rgb(36, 178, 178);
}